
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>chemistry management system </title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   {% include 'bootstrap.html' %}
  </head>
<body>

  <div class ='main'>
    <h1>WELCOME TO CHEMISTRY MANAGEMENT SYSTEM</h1>
    
  </div>

  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <h1><a class="navbar-brand">ADVANCED CHEMISTRY MANAGEMENT  SYSTEM</a>
    </div>
    </h1>
  </nav>
</body>
</html>
