
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chemistry Management System</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
  {% include 'bootstrap.html' %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
  {% include 'nav.html' %}


  



  {% if content %}
    <div class='container col-8' style='margin-top: 100px;'>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}

      <h2>{{ table_name.replace('_', ' ').title() }}</h2>
      
      <table class='table table-striped'>
        <tr>
          {% for head in keys %}
          <th>{{ head }}</th>
          {% endfor %}
          <th>Actions</th>
        </tr>
        {% for row in content %}
        <tr>
          {% for key in keys %}
          <td>{{ row[key] }}</td>
          {% endfor %}

          <td>
            <a href="/edit?table={{table_name}}&id={{row[keys[0]]}}" class="btn btn-warning">Edit</a>
            <a href="/deletee?table={{table_name}}&id={{row[keys[0]]}}&id_key={{keys[0]}}" class="btn btn-danger">Delete</a>


            {% if(table_name == 'researcher' or table_name == 'experiment') %}
            <a href="/view?table={{ table_name }}&id={{ row[keys[0]] }}&name={{ keys[0] }}" class="btn btn-info">View</a>

            {% endif %}
          </td>
          
        </tr>
        {% endfor %}
      </table>
    


      <div>
        <a href="/add?table={{ table_name }}" class="btn btn-primary">Add New Record</a>
      </div>

    
    </div>

  {% else %}
    <div class='container col-8' style='margin-top: 100px;'>
       <h2> SELECT THE TABLE FROM THE NAVIGATION BAR </h2>
    </div>
  {% endif %}


  
  


  
</body>
</html>
